# .NET build artifacts
bin/
obj/

# .NET Core specific
.project/
.vs2019/
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

frontend/easydevops/bin/debug
frontend/easydevops/obj/debug

# User-specific files
.vs/
.idea/
.DS_Store
Thumbs.db

# JetBrains Rider settings
.idea/

# ASP.NET Core specific files
wwwroot/
